/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 30%; } }
  @media (max-width: 900px) {
    html {
      font-size: 405%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1800px) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box; }

img {
  height: 100%; }

body {
  font-family: "Lato-Light", sans-serif;
  font-weight: 400;
  font-size: 1.5rem !important;
  line-height: 1.6;
  color: #fff; }

.heading-primary {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 1.5rem; }

.heading-secondary {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter; }

.heading-wrapper {
  padding: 10px 30px;
  background: linear-gradient(to bottom, #353535 48%, #020202 48%);
  min-width: 200px;
  display: inline-block;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  text-align: center; }

.u-margin-small {
  margin-bottom: 1.5rem; }

.u-margin-large {
  margin-bottom: 2rem; }

.video-container {
  position: relative; }

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-image: linear-gradient(bottom, #0371a8 13%, #0088cc 100%);
  background-image: -o-linear-gradient(bottom, #0371a8 13%, #0088cc 100%);
  background-image: -moz-linear-gradient(bottom, #0371a8 13%, #0088cc 100%);
  background-image: -webkit-linear-gradient(bottom, #0371a8 13%, #0088cc 100%);
  background-image: -ms-linear-gradient(bottom, #0371a8 13%, #0088cc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.13, #0371a8), color-stop(1, #0088cc));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }

.video {
  width: 500px; }
  @media (max-width: 1140px) {
    .video {
      width: 400px; } }
  @media (max-width: 990px) {
    .video {
      width: 600px; } }

button {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.button:hover {
  cursor: pointer; }

.seek-bar {
  flex: 1; }

.volume-bar {
  width: 60px; }

.base {
  background-color: #181818;
  min-height: 100vh; }

.center-base {
  background-color: #fff; }

.navigation {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 4rem; }
  .navigation__logo {
    height: 80px;
    background-color: #777; }
  .navigation__item {
    list-style-type: none; }
    .navigation__item:not(:last-child) {
      margin-right: 4rem; }
  .navigation__container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
  .navigation__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #071425;
    font-weight: bold;
    padding: 1rem 1.5rem;
    transition: all 200ms;
    position: relative; }
  .navigation__active:after {
    position: absolute;
    width: 100%;
    content: "";
    height: 5px;
    background-color: #9ee300;
    border-radius: 5px;
    padding: 0 2px;
    bottom: 0;
    left: 0; }

.stat {
  max-width: 1250px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 10px;
  padding-right: 10px; }
  .stat .player-bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .stat .player-bio__history {
      flex: 0 1 calc(45% - 5rem); }
      @media (max-width: 1165px) {
        .stat .player-bio__history {
          margin-top: 2rem;
          flex-basis: 100%; } }
    .stat .player-bio__photo {
      width: 200px;
      height: 200px;
      background-color: #fff;
      border: 1px solid green; }
    .stat .player-bio__info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 0 1 55%; }
      @media (max-width: 1165px) {
        .stat .player-bio__info {
          flex-basis: 100%; } }
    .stat .player-bio__formation {
      height: 250px; }
      @media (max-width: 1165px) {
        .stat .player-bio__formation {
          height: 350px; } }
  .stat .skill-evaluation {
    margin-top: 7rem;
    margin-bottom: 2rem; }
    .stat .skill-evaluation__report {
      margin-top: 2rem;
      margin-bottom: 7rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .stat .skill-evaluation__report-table {
      flex: 0 1 55%; }
    .stat .skill-evaluation__pie {
      flex: 0 1 calc(45% - 5rem); }
    .stat .skill-evaluation__gallery {
      display: flex;
      justify-content: space-between;
      flex: 0 1 52%;
      flex-wrap: wrap; }
      @media (max-width: 990px) {
        .stat .skill-evaluation__gallery {
          flex: 0 1 100%;
          margin-bottom: 2rem; } }
    .stat .skill-evaluation__video {
      flex: 0 1 calc(45% - 5rem); }
      @media (max-width: 1175px) {
        .stat .skill-evaluation__video {
          flex: 0 1 calc(53% - 20rem); } }
      @media (max-width: 1140px) {
        .stat .skill-evaluation__video {
          flex: 0 1 calc(53% - 10rem); } }
      @media (max-width: 990px) {
        .stat .skill-evaluation__video {
          flex: 0 1 100%;
          align-self: center; } }
  .stat .skills-evaluation__media {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .stat .player-bio__Photo {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid green; }
    @media (max-width: 1165px) {
      .stat .player-bio__Photo {
        width: 250px;
        height: 250px; } }

.footer {
  background-color: #071425;
  padding: 30px;
  color: #fff;
  display: flex;
  justify-content: center; }
  .footer__link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 15px;
    font-size: 1.5rem; }

.table {
  text-transform: capitalize;
  font-size: 1.3rem; }

.td {
  padding: 4px 20px;
  text-align: left; }

.td--right {
  text-align: right; }

.table--caps {
  text-transform: uppercase; }

.table--full {
  width: 100%; }

.table--white {
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center; }

.table-head {
  border: none;
  background-color: #020202;
  padding: 3px 10px;
  text-transform: uppercase; }

.td--gray {
  background-color: #363636; }

.td--center {
  text-align: center; }

.td--white {
  background-color: #fff;
  color: #020202;
  padding: 4px 10px;
  align-items: center;
  border: 0.5px solid #020202; }

.td--main {
  font-weight: bold;
  text-transform: uppercase; }

.styled-checkbox {
  position: absolute;
  opacity: 0; }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0; }
  .styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white; }
  .styled-checkbox:hover + label:before {
    background: #9ee300; }
  .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
  .styled-checkbox:checked + label:before {
    background: #9ee300; }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd; }
  .styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg); }
