/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
//Grid variables
$grid-gutter: 6rem;
$row-gutter: 4rem;

$color-primary: #181818;
$color-grey: #363636;
$color-heading-2: #020202;
$color-link: #071425;
$color-blue: #071425;
$color-heading-1: #353535;
$color-body: rgba(255, 255, 255, 0.9);

$color-white: #fff;
$color-grey-light: #f7f7f7;
$default-font-size: 1.7rem;
